body {
  background-color: rgb(197, 197, 107);
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
}

.square {
  background: white;
  border: 1px solid #615c5c;

  line-height: 8rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  width: 6rem;
  height: 6rem;
}

.board-row {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.board {
  margin-top: 4rem;
}

.square img {
  width: 6rem;
  height: 6rem;
}

p {
  text-align: center;
}

.chess-numbers {
  margin-right: 1.5rem;
  margin-top: 2.5rem;
}

.chess-letters {
  margin-top: 1.5rem;

}

.a {
  margin-left: 39rem;
}

.b, .c, .d, .e {
  margin-left: 5rem;
}

.f, .g, .h {
  margin-left: 5.5rem;
}