body {
  background-color: rgb(197, 197, 107);
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0;

}

.square {
  background: white;
  border: 1px solid #615c5c;

  margin-right: -1px;
  margin-top: -1px;

  text-align: center;

  width: 6rem;
  height: 6rem;
}



.board {
  margin-top: 3rem;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 6rem); /* 8 columns, each is 6 rem wide. */
  justify-content: center;
}

.square img {
  width: 6rem;
  height: 6rem;
}


#resets-game{
  height: 2rem;
  width: 8rem;
  margin-left: 52rem;
  margin-top: -25rem;
}

/*.chess-piece{
  width: 4rem;
  height: 4rem;
}*/
/*
p {
  text-align: center;
}

.chess-numbers {
  margin-right: 1.5rem;
  margin-top: 2.5rem;
}

.chess-letters {
  margin-top: 1.5rem;

}

.a {
  margin-left: 39rem;
}

.b,
.c,
.d,
.e {
  margin-left: 5rem;
}

.f,
.g,
.h {
  margin-left: 5.5rem;
}*/